---
import Default from '@astrojs/starlight/components/MarkdownContent.astro';
import type { Props } from '@astrojs/starlight/props';
import CopyPageButton from '../components/CopyPageButton.astro';
---

<div style="position: relative;">
  <CopyPageButton />
  <Default {...Astro.props}>
    <slot />
  </Default>
</div>
